<footer>
    <div class="footer-container">
        <div class="footer-section contact-info">
            <img src="../assets/rento-logo.png" alt="Rento Logo" class="logo" />
            <p><a href="mailto:support@rento.com">support@rento.com</a></p>
            <p><a href="tel:+919649352595">+91 9649352595</a></p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/kailashparihar/" target="_blank"><img src="../assets/linkden.png"
                        alt="LinkedIn" /></a>
                <a href="https://www.youtube.com/@chaiaurcode" target="_blank"><img src="../assets/youtube.png"
                        alt="YouTube" /></a>
                <a href="https://t.me/+9649352595" target="_blank"><img src="../assets/telegram.png"
                        alt="Telegram" /></a>
            </div>
            <img src="../assets/iso-certification.png" alt="ISO Certification" class="iso-certification" />
        </div>
        <div class="footer-section company-links">
            <h3>Company</h3>
            <ul>
                <li><a href="../src/about.html">About Us</a></li>
                <li><a href="../src/contact.html">Contact Us</a></li>
                <li><a href="../src/privacy-policy.html">Privacy Policy</a></li>
                <li><a href="../src/terms-and-conditions.html">Terms and Conditions</a> </li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-section product-links">
            <h3>Products</h3>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Affiliate</a></li>
                <li><a href="#">Experience </a></li>
                <li><a href="#">Job Portal</a></li>
                <li><a href="#">Hall Of Fame</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Rento. All rights reserved.</p>
    </div>
</footer>