<nav class="navbar">
    <div class="container">

        <div class="container">
            <!-- Logo Section -->
            <a href="../index.html" class="logo">
                <img src="../assets/rento-logo.png" alt="Brand Logo" class="logo-image" />
                <span class="logo-text">RENTO</span>
            </a>

            <!--  toggle button here -->
            <div class="menu-toggle" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

        <div class="container">
            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../src/about.html">About Us</a></li>
                <li><a href="../src/contact.html">Contact Us</a></li>
                <li><a href="../src/privacy-policy.html">Privacy Policy</a></li>
                <li><a href="../src/terms-and-conditions.html">Terms And Conditions</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Internet_forum" target="_blank">Forum</a></li>
                <li><a href="https://docs.python.org/3.13/contents.html" target="_blank">Docs</a></li>
                <li><a href="https://www.google.com/about/careers/" target="_blank">Careers</a></li>
            </ul>
        </div>

        <!-- Action Buttons -->
        <div class="action-buttons">
            <a href="/login" target="_blank" class="btn sign-in">SIGN IN</a>
            <a href="https://www.microsoft.com/en-us/software-download/windows11" target="_blank" class="btn download">
                <img src="../assets/windows-logo.png" alt="Windows Icon" class="btn-icon" />
                DOWNLOAD
            </a>
        </div>

    </div>
</nav>